.h2Users {
  text-align: center;
}

.list {
  max-width: 80rem;
  margin-left: 8.3rem;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
}

.center {
  display: block;
  text-align: center;
}

img {
  padding: 10px;
}

body {
  scroll-behavior: auto;
}

@media screen and (max-width: 1280px) {
  .list {
    margin-left: 10.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .list {
    margin-left: 10.3rem;
  }
}

@media screen and (max-width: 912px) {
  .list {
    margin-left: 7.3rem;
  }
}

@media screen and (max-width: 820px) {
  .list {
    margin-left: 11.3rem;
  }
}
@media screen and (max-width: 768px) {
  .list {
    margin-left: 9.3rem;
  }
}
@media screen and (max-width: 540px) {
  .list {
    margin-left: 9.6rem;
  }
}
@media screen and (max-width: 414px) {
  .list {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 400px) {
  .list {
    margin-left: 5.3rem;
  }
}

@media screen and (max-width: 375px) {
  .list {
    margin-left: 4.3rem;
  }
}

@media screen and (max-width: 280px) {
  .list {
    margin-left: 1.6rem;
  }
}
